@import "../../lib/styles/variables";

.drawingCanvas {
  margin-top: 20px;
  text-align: center;

  & &__main {
    margin-top: 12px;
  }

  & &__canvas {
    border: 1px solid $global-color-gray-2;
  }

  & &__clear {
    margin-top: 12px;
  }
}
